/*--------------------------------
 Navigation bar styling, derived from
 navigataur.css, by micjamking.
 (https://github.com/micjamking/Navigataur)
 ---------------------------------*/

$color-text: #FFFFFF;
$color-background: #3498DB;
$color-highlight: #FF0000;

/*--------------------------------
 Functional Styles (Required)
---------------------------------*/

header { position: relative; }
#toggle, .toggle { display: none; }
.menu > li { list-style: none; float:left;	}

/* Nicolas Gallagher micro clearfix */
.clearfix:before, .clearfix:after { display: table; content: ""; }
.clearfix:after { clear: both; }

@media only screen and (max-width: 768px){
  .menu { display: none; opacity: 0; width: 100%; position: absolute; right: 0; }
  .menu > li { display: block; width: 100%; margin: 0; }
  .menu > li > a { display: block; width: 100%; text-decoration: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
  .toggle { display: block; position: relative; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none; user-select: none; }
  #toggle:checked + nav .menu { display: block; opacity: 1;}
}


/*--------------------------------
 Presentation Styles (Editable)
---------------------------------*/
h2 {
  text-align: center;
  margin: 0;
  padding: 0.785714286em;
  line-height: 1;
  font-size: 28px;
  color: #566573;
}
header {
  min-height: 7em;
  height: 100%;
  padding: 0 2em;
  background: $color-background;
}

header > h1 {
  float: left;
  margin: 0;
  padding: 0.785714286em;
  line-height: 1;
  font-size: 28px;
  color: $color-text;
}

nav {
  display: block;
  float: right;
}

nav, .menu, .menu > li, .menu > li > a { height: 100%; }

.menu > li > a{
  display: block;
  padding: 1.5em;
  font-size: 16px;
  color: $color-text;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  */
}

.menu > li > a:hover, .menu > li > a:focus{
  background: $color-text;
  box-shadow: inset 0px 5px $color-highlight;
  color: $color-highlight;
  padding: 1.75em 1.5em;
}

.toggle { z-index: 2; }

@media only screen and (max-width: 768px){
  .menu {
    background: $color-background;
    border-top: 1px solid $color-text;
  }

  .menu, .menu > li, .menu > li > a { height: auto; }
  .menu > li > a { padding: 15px 15px; }

  .menu > li > a:hover, .menu > li > a:focus{
    background: $color-text;
    box-shadow: inset 5px 0px $color-highlight;
    padding: 15px 15px 15px 25px;
  }

  .toggle:after {
    content: attr(data-open);
    display: block;
    margin: 0.875em;
    padding: 0.5em 1.5em;
    background: $color-background;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: $color-text;
    border: 2px solid $color-text;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .toggle:hover:after{
    color: $color-background;
    background: $color-text;
  }

  #toggle:checked + nav .toggle:after{
    content: attr(data-close);
    color: $color-background;
    background: $color-text;
  }
}

@media only screen and (max-width: 479px){
  header > h1 { text-align: center; }
  header > h1, nav, .toggle:after{ float: none; }
  .toggle:after { text-align: center; width: 100%; }
}